// Custom.scss
$form-select-border-width: 2px;
$form-select-font-weight: bold;  
$form-select-border-color:  rgb(77, 86, 90);
$form-select-bg: rgb(236, 240, 242);

// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// Create power wizard map
$custom-colors: (
  "electric-teal-light": #38a1b6,
  "electric-teal-dark": #338595,
  "solar-coral-light": #ef5b4e,
  "solar-coral-dark": #d54943,
  "carbon-moss-light": #a9cf37,
  "carbon-moss-dark": #708c3b,
  "hvac-gray-light": #989cae,
  "hvac-gray-dark": #2f4858,
  "bg-footer": #242435,
  
  // accent colors
  "accent-orange": #fd8f3b,
  "accent-rose-light": #d44d77,
  "accent-rose-dark": #a4528f,
  "accent-purple": #6c568e,

  // background color
  "ui-bg-offwhite": #fffafa,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/accordion";


// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

header.navbar {
    background-color: #B8BBD4;
}

.sidebar {
    background: transparent;
    border-right: 0;
    border-radius: 10px;
    box-shadow: 0 0 2rem 0 rgb(0 0 0 / 5%);
    max-width: 250px;
    min-width: 250px;
    // transition: margin-left .3s ease-in-out,left .3s ease-in-out,margin-right .3s ease-in-out,right .3s ease-in-out;
    z-index: 1;
    margin-left: 20px;
    
}

/* .footer > 
.container {
    width: auto;
    padding: 0 15px;
    z-index: 1;
  } */

.wrapper {
    align-items: stretch;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.wrapper::before {
    background: linear-gradient(-45deg, rgba(229,93,135,.7), rgba(95,195,228,.7)), url(https://picsum.photos/g/2000/1200?image=443) center center / cover no-repeat;
    content: " ";
    height: 264px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}



.premise-header {
   // padding-top: 3px;
  //  padding-bottom: 3px;
 //   margin-bottom: 4px;
 //   border-bottom: 1px;
    z-index: 1;
    position: relative;
}

.dropdown-menu {
    z-index: 1;
}

.nav-item >
.nav-link {
    color:rgb(36, 60, 65)
}

.nav-item >
.nav-link.active {
    background-color: rgba(56,161,182, 0.2);
    color: #338595;
}


.nav.nav-pills.nav-fill >
.nav-item >
.nav-link.active {
    background-color: #38A1B6;
    //background-color: #A9CF37;
}

button.tinyslider-control-prev,
button.tinyslider-control-next {
    border-radius: 100%;
}


#TinySlider .tinyslider-control-prev,
#TinySlider .tinyslider-control-next {
    width: 20px;
    height: 20px;
}

#TinySlider button.tinyslider-control-prev {
    left: 30px;
}
#TinySlider button.tinyslider-control-next {
    left: 30px;
}

span.carousel-control-prev-icon {
    width: 20px;
    height: 20px;
}
span.carousel-control-next-icon {
    width: 20px;
    height: 20px;
}

/* footer > div.container > div.bg-footer{
    background-color: $solar-coral-dark;
}   */

// import bootstrap 5+
// @import '../node_modules/bootstrap/scss/bootstrap'