@use 'custom';
@use './components/card';
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");

h1 {
    font-family: 'BioRhyme', serif;
}

h3 {
    font-family: 'Barlow', sans-serif;
}

body {
    background-color: #fffafa;
}
