@use 'custom';
@use './components/card';
@use './components/carousel';



.tabicon {
    fill: white; 
}
.tabicon:hover {
    fill: white; 
}
.icon-lg {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.2rem;
  }
  .nav-header {
    margin-left: 1rem !important;
    margin-top: 0.5rem !important;
    margin-bottom: 1rem !important;
    font-size: small;
    text-transform: uppercase;
    color:#989cae;
  }