@{
    ViewData["Title"] = "Your Electricity Contract Details";
}
<div class="py-4 bg-light me-4">

    <main class="container">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">


                        <h5>Electricity Contract Details</h5>


                        <p class="card-text pb-2">
                            Electricity Contract Details Regarding: 8921 Briar Forest Drive, Houston, TX 77024
                        </p>

                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            Current Provider
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            Just Energy Services
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            Plan Name
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            JustEnergy-12
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            Plan Documents
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            Electricity Facts Label
                                        </p>
                                        <p>
                                            Terms of Service
                                        </p>
                                        <p>
                                            YRACC
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            Early Termination Fee (ETF)/8
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            $250 FLAT FEE
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            Contract Length
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            12 months
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            Plan Start Date
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            July 21, 2022
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            Approx End Date
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            July 21, 2023
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <div>
                                        <p>
                                            * You'll only be charged the Early Termination Fee (ETF) if we switch your contract before it expires. We always factor in any fees when considering a switch in electricity providers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            Web Account Access
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            JustEnergy.com/myaccount
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            Username from Electricity Provider
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            janedoe
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            Password from Electricity Provider
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            *********
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            Customer Service
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <div>
                                        <p>
                                            1-866-288-3105
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>








            </div>
            
        </div>
        
    </main>
</div>