@{
    ViewData["Title"] = "Your Electricity Contract Details";
}
<div class="py-4 bg-light me-4">

    <main class="container">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">


                        <h5>Electricity Contract Details</h5>


                        <p class="card-text pb-2">
                            Electricity Contract Details Regarding: 8921 Briar Forest Drive, Houston, TX 77024
                        </p>

                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div>
                            <div>
                                <p>
                                    Column Header
                                </p>
                                <p>
                                    Column Detail 1
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <div>
                                <p>
                                    Column Header
                                </p>
                                <p>
                                    Column Detail 2
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
        
    </main>
</div>