@{
    ViewData["Title"] = "Messages";
}
<div class="py-4 bg-light me-4">

    <main class="container">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">


                        <h5>Message Inbox</h5>


                        <p class="card-text pb-2">
                            Message Inbox for address: 8921 Briar Forest Drive, Houston, TX 77024
                        </p>

                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">From</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Preview</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Power Wizard</td>
                                    <td>Switch Hold</td>
                                    <td>You appear to have a credit lock or freeze on youre report...</td>
                                    <td>01/29/2023</td>
                                    <td>Action</td>
                                </tr>
                                <tr>
                                    <td>Just Energy Service</td>
                                    <td>ID Verification</td>
                                    <td>To proceed with enrollment the REP needs to have verificat...</td>
                                    <td>01/29/2023</td>
                                    <td>Action</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>









            </div>


        </div>

    </main>
</div>