@{
    ViewData["Title"] = "Refer A Friend";
}
<div class="py-4 bg-light me-4">

    <main class="container">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">


                        <h5>Refer A Friend</h5>


                        <p class="card-text pb-2">
                            Refer a Friend to Power Wizard and receive $75.
                        </p>

                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div>
                            <div>
                                <p>
                                    Column Header
                                </p>
                                <p>
                                    Column Detail 1
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <div>
                                <p>
                                    Column Header
                                </p>
                                <p>
                                    Column Detail 2
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </main>
    @* Start Footer *@
    <footer>
        <div class="container px-0">
            <div class="rounded-top p-4 pb-0 bg-footer-color">

                <!-- Divider -->
                <hr class="mt-4 mb-0">

                <!-- Bottom footer -->
                <div class="container py-3 px-0">
                    <div class="d-md-flex justify-content-between align-items-center text-md-left">
                        <!-- copyright text -->
                        <div class="text-primary-hover">
                            ©2023 Power Wizard. All rights reserved<p>
                                PUCT Certificate #BR190584
                            </p>
                        </div>
                        <!-- copyright text -->
                        <!-- terms of service link -->
                        <div class="text-primary-hover">
                            Terms of Service / Privacy Policy
                        </div>
                        <!-- terms of links-->
                        <div class="mt-3 mt-md-0">
                            <ul class="nav text-primary-hover justify-content-center justify-content-md-end">
                                <li class="nav-item">
                                    <a class="nav-link text-reset" href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-reset" href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-reset" href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-reset" href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @* End Footer *@
</div>