<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - member</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Swiper slider css-->
    <link rel="stylesheet" href="~/lib/swiper/swiper-bundle.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/pwuxstyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/member.styles.css" asp-append-version="true" />

    <script language="JavaScript" type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>$(document).ready(function () {
            $('.nav.flex-column').find('[href="' + window.location.pathname + '"]').parent().addClass('active')
        });</script>

</head>
<body>
    @* Start Header *@
    <header class="navbar d-flex justify-content-end p-0">

        <div class="navbar-nav">
            <div class="col-4 d-flex">
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="/Settings"><i class="fa-solid fa-sliders"></i> Settings</a>
                </div>
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="#"><i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i> Sign out</a>
                </div>
                <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
    </header>
    @* End Header *@
    <div class="row g-0">
        <div class="wrapperCarbon">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-white sidebar collapse">
                <div class="position-sticky pt-2 sidebar-sticky">
                    <div class="text-center pt-4 pb-3">
                        <img src="https://www.powerwizard.com/wp-content/uploads/2022/01/pw-logo.svg" class="navbar-brand-img logo-light logo-small" alt="..." width="185" height="36">
                    </div>
                    <ul class="nav flex-column px-3">
                        <!-- Title -->
                        <li class="nav-header">Carbon Products</li>

                        <!-- Menu items -->
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/Carbon">
                                <span data-feather="home" class="align-text-bottom"></span>
                                My Carbon Footprint
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Carbon" asp-action="EmissionsProfile">
                                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                                My Emissions Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Carbon" asp-action="OurProjects">
                                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                                Our Projects
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Carbon" asp-action="ReferAFriend">
                                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                                Refer a Friend
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Carbon" asp-action="Messages">
                                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                                Messages <span class="badge text-bg-danger">2</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Carbon" asp-action="PlanRenewal">
                                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                                Plan Renewal
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Carbon" asp-action="NewServiceAddress">
                                <span data-feather="layers" class="align-text-bottom"></span>
                                Add a New Service Address
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>


            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ">
                <div class="container-fluid">

                    <div class="premise-header pt-3 me-3">

                        <div class="row">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h1 class="text-white">My Account</h1>
                                    <p class="fs-6 text-white">All your Power Wizard information convieniently accessible from the dropdown.</p>
                                </div>

                                <div id="address-selector">
                                    <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
                                        <select class="form-select" aria-label="Default select example">
                                            <option value="1">8921 Briar Forest Drive, Houston, TX 77024</option>
                                            <option value="2">2071 Greenbriar Rd, Houston, TX 77030</option>
                                        </select>

                                    </form>
                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <nav class="nav nav-pills nav-fill">
                                <ul class="nav nav-pills nav-fill">
                                    <li class="nav-item">
                                        <a class="nav-link fw-bold" href="/"><svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5276 11.309L15.8784 11.4414L15.5276 11.309ZM1.49054 5.29819L1.84046 5.43305L1.49054 5.29819ZM8.293 2.00001L8.29299 1.62501C8.14428 1.62501 8.00962 1.71289 7.94974 1.84902L8.293 2.00001ZM11.812 2L12.1381 2.1851C12.204 2.06902 12.2032 1.92666 12.136 1.81131C12.0689 1.69595 11.9455 1.625 11.812 1.625L11.812 2ZM8.293 8.20001L7.96686 8.01491C7.90098 8.13099 7.90176 8.27335 7.96893 8.38871C8.03609 8.50406 8.15951 8.57501 8.293 8.57501V8.20001ZM11.812 8.20001L12.1262 8.40475C12.2013 8.28947 12.2072 8.14231 12.1417 8.02134C12.0761 7.90037 11.9496 7.82501 11.812 7.82501V8.20001ZM4.77402 19L4.42476 18.8635C4.35475 19.0425 4.4315 19.2455 4.60247 19.3335C4.77344 19.4214 4.98323 19.3658 5.08819 19.2047L4.77402 19ZM8.293 10L8.64225 10.1366C8.68737 10.0212 8.67257 9.89091 8.6027 9.78857C8.53283 9.68623 8.41691 9.62501 8.293 9.62501V10ZM4.77402 10L4.43076 9.84902C4.37975 9.96498 4.39074 10.0989 4.45997 10.205C4.52921 10.311 4.64733 10.375 4.77402 10.375V10ZM15.053 5.94898C15.7701 7.60552 15.8147 9.48626 15.1767 11.1766L15.8784 11.4414C16.5851 9.56903 16.5359 7.48646 15.7413 5.65102L15.053 5.94898ZM15.1767 11.1766C14.5388 12.8667 13.2718 14.2257 11.6572 14.9573L11.9667 15.6404C13.7655 14.8254 15.1716 13.3141 15.8784 11.4414L15.1767 11.1766ZM5.08134 0.992708C3.2769 1.79467 1.86038 3.29583 1.14063 5.16333L1.84046 5.43305C2.49003 3.74762 3.76638 2.39786 5.38594 1.67807L5.08134 0.992708ZM1.14063 5.16333C0.420972 7.03061 0.455825 9.11348 1.23766 10.9546L1.928 10.6614C1.22233 8.99971 1.1908 7.11869 1.84046 5.43305L1.14063 5.16333ZM8.293 2.37501L11.812 2.375L11.812 1.625L8.29299 1.62501L8.293 2.37501ZM11.4858 1.8149L7.96686 8.01491L8.61913 8.38512L12.1381 2.1851L11.4858 1.8149ZM8.293 8.57501H11.812V7.82501H8.293V8.57501ZM11.4978 7.99527L4.45984 18.7953L5.08819 19.2047L12.1262 8.40475L11.4978 7.99527ZM5.12327 19.1366L8.64225 10.1366L7.94374 9.86345L4.42476 18.8635L5.12327 19.1366ZM8.293 9.62501H4.77402V10.375H8.293V9.62501ZM5.11728 10.151L8.63626 2.151L7.94974 1.84902L4.43076 9.84902L5.11728 10.151Z" fill="#7C7C86" /></svg> Electricity</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link fw-bold" href="/Solar"><svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.662 14.378 5.787 5.87m7.554 8.556-1.286-8.51M8.84 5.892V14.4M9 0v1.473m2.96-.328-.965.982m-4.954-.982.964.982M4.662 4.091h1.445m5.625 0h1.61M1.928 8.509H16.07M1.286 11.291h15.428M0 14.973h18m-9.08.409v2.373M5.464 18h7.072M.32 14.564l2.17-8.837h13.02l2.17 8.837H.32Zm10.77-10.31c0-.564-.22-1.105-.612-1.504A2.07 2.07 0 0 0 9 2.127a2.07 2.07 0 0 0-1.477.623c-.392.4-.612.94-.612 1.505h4.178Z" stroke="#7C7C86" stroke-width=".5" /></svg> Rooftop Solar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active bg-carbon-moss-dark fw-bold" href="/Carbon" aria-current="page"><svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="tabicon" d="M12.177 0C9.987 0 8.142 1.386 7.25 3.349c-.476-.349-1.021-.6-1.64-.6-1.561 0-2.816 1.309-2.91 2.938-1.562.6-2.7 2.151-2.7 4.008C0 12.068 1.823 14 4.061 14h13.2C19.321 14 21 12.221 21 10.038c0-2.025-1.465-3.641-3.32-3.872.007-.105.02-.205.02-.313C17.7 2.626 15.222 0 12.177 0Zm0 .89c2.592 0 4.683 2.217 4.683 4.963 0 .202-.016.406-.04.615l-.058.5h.474l.025-.002c1.606 0 2.899 1.37 2.899 3.073 0 1.7-1.293 3.07-2.899 3.07h-13.2C2.276 13.11.84 11.587.84 9.697c0-1.574 1.002-2.888 2.363-3.287l.32-.093-.012-.351c-.002-.063-.005-.094-.005-.097 0-1.236.936-2.229 2.103-2.229.584 0 1.107.25 1.488.655l.464.492.228-.652C8.449 2.241 10.158.89 12.177.89Zm-4.17 5.098c-1.316 0-2.127.932-2.127 2.446 0 1.517.813 2.45 2.126 2.45 1.093 0 1.89-.693 1.969-1.7h-.923c-.09.513-.5.842-1.043.842-.715 0-1.159-.609-1.159-1.591 0-.981.443-1.588 1.157-1.588.54 0 .95.352 1.042.887h.923c-.07-1.013-.892-1.746-1.965-1.746Zm4.597 0c-1.284 0-2.104.935-2.104 2.447 0 1.51.808 2.45 2.104 2.45 1.291 0 2.096-.94 2.096-2.45 0-1.507-.808-2.447-2.096-2.447Zm0 .855c.71 0 1.164.616 1.164 1.591 0 .972-.454 1.595-1.165 1.595-.717 0-1.168-.623-1.168-1.595 0-.974.46-1.59 1.168-1.59Zm3.566 2.085c-.634 0-1.05.38-1.05.955v.014h.69V9.88c0-.193.133-.324.326-.324.184 0 .313.119.313.292 0 .17-.096.295-.495.65l-.78.713v.565h2.046v-.636h-1.036v-.054l.32-.29c.493-.385.673-.67.673-1.023 0-.513-.393-.844-1.007-.844Z" fill="#7C7C86" /></svg> Carbon Neutral</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link fw-bold" href="/HVAC"><svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="path-1-inside-1_4_64" fill="white"><path d="M3.78218 8.37562V12.6878V17H19.2178V8.20977H19.6634H22L11.5 0.5L0.5 8.37562H3.24752H3.78218Z" /></mask><path d="M7.5 11.4333L7.76557 11.6207L7.5 11.4333ZM5.14121 13.2661C5.11078 13.443 5.22951 13.6111 5.40641 13.6415L8.28906 14.1374C8.46596 14.1679 8.63403 14.0491 8.66446 13.8722C8.69489 13.6953 8.57616 13.5273 8.39926 13.4968L5.8369 13.0561L6.2777 10.4937C6.30813 10.3168 6.1894 10.1487 6.0125 10.1183C5.83561 10.0879 5.66754 10.2066 5.63711 10.3835L5.14121 13.2661ZM15.423 11.4333L15.1574 11.6207L15.1574 11.6207L15.423 11.4333ZM16.992 13.6461C17.1714 13.6506 17.3205 13.5087 17.3249 13.3293L17.3971 10.4052C17.4015 10.2257 17.2596 10.0767 17.0802 10.0722C16.9008 10.0678 16.7517 10.2097 16.7473 10.3891L16.6831 12.9883L14.0839 12.9242C13.9045 12.9197 13.7554 13.0616 13.751 13.2411C13.7466 13.4205 13.8884 13.5695 14.0679 13.574L16.992 13.6461ZM11.0382 14.2298C11.1651 14.3567 11.3709 14.3567 11.4978 14.2298L13.5661 12.1615C13.693 12.0346 13.693 11.8288 13.5661 11.7019C13.4392 11.575 13.2334 11.575 13.1065 11.7019L11.268 13.5404L9.42953 11.7019C9.30261 11.575 9.09683 11.575 8.96991 11.7019C8.84299 11.8288 8.84299 12.0346 8.96991 12.1615L11.0382 14.2298ZM8.55179 5.75061C8.2274 5.77048 8.22739 5.77044 8.22739 5.77041C8.22739 5.77042 8.22739 5.77041 8.22739 5.77043C8.2274 5.77047 8.2274 5.77057 8.22741 5.77072C8.22743 5.77104 8.22746 5.77158 8.22751 5.77235C8.2276 5.7739 8.22774 5.77637 8.22793 5.77972C8.2283 5.78643 8.22885 5.79671 8.22952 5.81039C8.23087 5.83773 8.23272 5.87863 8.23463 5.93165C8.23847 6.03771 8.24258 6.19212 8.24357 6.38345C8.24556 6.76652 8.235 7.29553 8.18507 7.87958C8.0836 9.06637 7.82442 10.4096 7.23443 11.246L7.76557 11.6207C8.46356 10.6312 8.73027 9.13305 8.83271 7.93495C8.88472 7.32655 8.89562 6.77724 8.89357 6.38009C8.89254 6.18132 8.88826 6.02015 8.88421 5.90816C8.88218 5.85215 8.88021 5.8084 8.87873 5.77836C8.87799 5.76334 8.87737 5.75174 8.87693 5.74375C8.87671 5.73975 8.87653 5.73665 8.8764 5.73448C8.87634 5.73339 8.87629 5.73254 8.87625 5.73191C8.87623 5.7316 8.87622 5.73135 8.87621 5.73115C8.8762 5.73106 8.87619 5.73096 8.87619 5.73091C8.87619 5.73082 8.87618 5.73075 8.55179 5.75061ZM7.23443 11.246C6.94524 11.656 6.46314 12.1056 6.03611 12.4627C5.82567 12.6388 5.63423 12.7877 5.49552 12.8925C5.42623 12.9449 5.37028 12.9861 5.33191 13.014C5.31273 13.028 5.29796 13.0387 5.28812 13.0457C5.28321 13.0492 5.27952 13.0519 5.27715 13.0536C5.27596 13.0544 5.27509 13.055 5.27456 13.0554C5.2743 13.0556 5.27412 13.0557 5.27402 13.0558C5.27397 13.0558 5.27394 13.0558 5.27394 13.0558C5.27393 13.0558 5.27395 13.0558 5.27394 13.0558C5.27396 13.0558 5.27398 13.0558 5.4615 13.3212C5.64903 13.5867 5.64906 13.5867 5.6491 13.5866C5.64912 13.5866 5.64916 13.5866 5.6492 13.5866C5.64928 13.5865 5.64938 13.5864 5.6495 13.5864C5.64975 13.5862 5.65008 13.5859 5.65049 13.5857C5.65132 13.5851 5.65249 13.5842 5.65399 13.5832C5.65698 13.581 5.66128 13.578 5.66684 13.574C5.67795 13.566 5.69405 13.5544 5.71463 13.5394C5.75576 13.5095 5.81479 13.466 5.88742 13.4111C6.03254 13.3014 6.23265 13.1457 6.45312 12.9613C6.88791 12.5977 7.42506 12.1034 7.76557 11.6207L7.23443 11.246ZM14.3712 5.75061C14.0468 5.73075 14.0468 5.73082 14.0468 5.73091C14.0468 5.73096 14.0468 5.73106 14.0468 5.73115C14.0468 5.73135 14.0468 5.7316 14.0468 5.73191C14.0467 5.73254 14.0467 5.73339 14.0466 5.73448C14.0465 5.73665 14.0463 5.73975 14.0461 5.74375C14.0456 5.75174 14.045 5.76334 14.0443 5.77836C14.0428 5.8084 14.0408 5.85215 14.0388 5.90816C14.0347 6.02015 14.0305 6.18132 14.0294 6.38009C14.0274 6.77724 14.0383 7.32655 14.0903 7.93495C14.1927 9.13305 14.4594 10.6312 15.1574 11.6207L15.6886 11.246C15.0986 10.4096 14.8394 9.06637 14.7379 7.87958C14.688 7.29553 14.6775 6.76652 14.6794 6.38345C14.6804 6.19212 14.6845 6.03771 14.6884 5.93165C14.6903 5.87863 14.6921 5.83773 14.6935 5.81039C14.6942 5.79671 14.6947 5.78643 14.6951 5.77972C14.6953 5.77637 14.6954 5.7739 14.6955 5.77235C14.6955 5.77158 14.6956 5.77104 14.6956 5.77072C14.6956 5.77057 14.6956 5.77047 14.6956 5.77043C14.6956 5.77041 14.6956 5.77042 14.6956 5.77041C14.6956 5.77044 14.6956 5.77048 14.3712 5.75061ZM15.1574 11.6207C15.4819 12.0807 15.8848 12.5625 16.2031 12.9261C16.363 13.1087 16.5029 13.263 16.6029 13.3718C16.653 13.4262 16.6931 13.4693 16.7209 13.499C16.7348 13.5138 16.7456 13.5252 16.753 13.533C16.7566 13.5369 16.7595 13.5399 16.7614 13.542C16.7624 13.543 16.7632 13.5438 16.7637 13.5444C16.764 13.5447 16.7642 13.5449 16.7643 13.545C16.7644 13.5451 16.7645 13.5452 16.7645 13.5452C16.7645 13.5452 16.7645 13.5453 16.7646 13.5453C16.7646 13.5453 16.7646 13.5453 17 13.3212C17.2354 13.0972 17.2354 13.0972 17.2354 13.0972C17.2354 13.0972 17.2354 13.0972 17.2354 13.0972C17.2354 13.0972 17.2354 13.0971 17.2353 13.0971C17.2353 13.097 17.2351 13.0969 17.2349 13.0967C17.2345 13.0963 17.2339 13.0956 17.2331 13.0947C17.2314 13.093 17.2289 13.0903 17.2255 13.0867C17.2187 13.0795 17.2085 13.0687 17.1952 13.0545C17.1687 13.0262 17.1299 12.9846 17.0814 12.9318C16.9841 12.8261 16.8479 12.6758 16.6922 12.498C16.3794 12.1408 15.9938 11.6787 15.6886 11.246L15.1574 11.6207ZM10.943 5.00002V14H11.593V5.00002H10.943ZM3.78218 17H3.13218V17.65H3.78218V17ZM3.78218 8.37562H4.43218V7.72562H3.78218V8.37562ZM0.5 8.37562L0.121607 7.84712L-1.52443 9.02562H0.5V8.37562ZM11.5 0.5L11.8847 -0.0239306L11.5048 -0.302869L11.1216 -0.0285064L11.5 0.5ZM22 8.20977V8.85977H23.9835L22.3847 7.68584L22 8.20977ZM19.2178 8.20977V7.55977H18.5678V8.20977H19.2178ZM19.2178 17V17.65H19.8678V17H19.2178ZM3.78218 7.72562H3.24752V9.02562H3.78218V7.72562ZM3.24752 7.72562H0.5V9.02562H3.24752V7.72562ZM0.878393 8.90413L11.8784 1.02851L11.1216 -0.0285064L0.121607 7.84712L0.878393 8.90413ZM11.1153 1.02393L21.6153 8.7337L22.3847 7.68584L11.8847 -0.0239306L11.1153 1.02393ZM22 7.55977H19.6634V8.85977H22V7.55977ZM19.6634 7.55977H19.2178V8.85977H19.6634V7.55977ZM18.5678 8.20977V17H19.8678V8.20977H18.5678ZM19.2178 16.35H3.78218V17.65H19.2178V16.35ZM4.43218 17V12.6878H3.13218V17H4.43218ZM4.43218 12.6878V8.37562H3.13218V12.6878H4.43218Z" fill="#7C7C86" mask="url(#path-1-inside-1_4_64)" /></svg> HVAC Solutions</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        @*<p class="pt-3 h6 text-white">You've made all the right energy moves. Your're maximizing savings</p>*@
                    </div>
                    @RenderBody()
                </div>
            </main>

        </div>

    </div>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

