<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - member</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/pwuxstyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/member.styles.css" asp-append-version="true" />

    <script language="JavaScript" type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>$(document).ready(function () {
            $('.nav.flex-column').find('[href="' + window.location.pathname + '"]').parent().addClass('active')
        });</script>
</head>
<body>
    @* Start Header *@
    <header class="navbar d-flex justify-content-end p-0">

        <div class="navbar-nav">
            <div class="col-4 d-flex">
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="#"><i class="fa-solid fa-sliders"></i> Settings</a>
                </div>
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="#"><i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i> Sign out</a>
                </div>
                <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
    </header>
    @* End Header *@

    <div class="row g-0">
        <div class="wrapperHVAC">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-white sidebar collapse">
                <div class="position-sticky pt-2 sidebar-sticky">
                    <div class="text-center pt-4 pb-3">
                        <img src="https://www.powerwizard.com/wp-content/uploads/2022/01/pw-logo.svg" class="navbar-brand-img logo-light logo-small" alt="..." width="185" height="36">
                    </div>
                    <ul class="nav flex-column px-3">
                        <!-- Title -->
                        <li class="nav-header">HVAC Solutions</li>

                        <!-- Menu items -->
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/HVAC">
                                <span data-feather="home" class="align-text-bottom"></span>
                                Preferred Manufacturers
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="HVAC" asp-action="ReferAFriend">
                                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                                Refer a Friend
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="HVAC" asp-action="Messages">
                                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                                Messages <span class="badge text-bg-danger">2</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="HVAC" asp-action="NewServiceAddress">
                                <span data-feather="layers" class="align-text-bottom"></span>
                                Add a New Service Address
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>


            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ">
                <div class="container-fluid">

                    <div class="premise-header pt-3 me-3">

                        <div class="row">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h1 class="text-white">My Account</h1>
                                    <p class="fs-6 text-white">All your Power Wizard information convieniently accessible from the dropdown.</p>
                                </div>

                                <div id="address-selector">
                                    <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
                                        <select class="form-select" aria-label="Default select example">
                                            <option value="1">8921 Briar Forest Drive, Houston, TX 77024</option>
                                            <option value="2">2071 Greenbriar Rd, Houston, TX 77030</option>
                                        </select>

                                    </form>
                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <nav class="nav nav-pills nav-fill">
                                <ul class="nav nav-pills nav-fill">
                                    <li class="nav-item">
                                        <a class="nav-link fw-bold" href="/"><i class="fa-sharp fa-solid fa-bolt-lightning"></i> Electricity</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link fw-bold" href="/Solar"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"><path fill="#242435" fill-opacity=".6" d="M14.925.004a.602.602 0 0 0-.488.412s-.218.63-.525 1.294c-.154.33-.335.666-.506.919-.171.253-.36.396-.356.393.01-.004-.22.038-.525-.018a7.37 7.37 0 0 1-1.031-.3c-.706-.246-1.332-.525-1.332-.525a.6.6 0 0 0-.806.768s.272.619.506 1.331c.118.357.22.732.282 1.05.054.28.063.474.056.544a2.398 2.398 0 0 1-.281.206c-.253.162-.605.35-.956.525-.706.352-1.407.638-1.407.638a.6.6 0 0 0 .02 1.124s.672.263 1.349.6c.026.012.05.026.075.038H5.025c-.769 0-1.448.513-1.65 1.256L.057 22.519c-.066.245-.057.413-.057.413v1.163c0 .94.767 1.706 1.707 1.706H12v.6h-1.2c-.987 0-1.8.813-1.8 1.8v1.2c0 .33.27.599.6.599h10.8c.33 0 .6-.27.6-.6v-1.2c0-.986-.814-1.8-1.8-1.8H18v-.6h10.293c.768 0 1.312-.468 1.518-.9.197-.412.19-.773.188-.805V23.044c0-.026.002-.066 0-.094a2.707 2.707 0 0 0-.019-.206 1.782 1.782 0 0 0-.093-.431l-.038-.113-3.225-11.942a1.709 1.709 0 0 0-1.65-1.256h-3.956l.038-.019c.696-.347 1.368-.619 1.368-.619a.6.6 0 0 0-.018-1.124s-.62-.242-1.275-.563a8.168 8.168 0 0 1-.92-.506c-.172-.117-.297-.244-.336-.281-.01-.021-.012-.028 0-.019-.066-.206.018-.984.243-1.65.23-.677.506-1.237.506-1.237a.604.604 0 0 0-.107-.715.606.606 0 0 0-.718-.091s-.576.325-1.237.58c-.33.13-.677.23-.956.282-.28.052-.478.005-.45.019a2.579 2.579 0 0 1-.413-.469 9.075 9.075 0 0 1-.562-.937C15.825.988 15.543.36 15.543.36a.6.6 0 0 0-.618-.356Zm.131 2.081c.035.066.021.063.056.131.192.361.42.755.656 1.088.237.332.455.628.825.824.422.225.84.167 1.238.094.384-.07.764-.199 1.125-.337-.256.754-.53 1.63-.206 2.456.168.43.485.609.806.825.32.215.691.424 1.05.6.068.032.065.025.13.056-.107.051-.112.037-.224.093-.37.183-.731.378-1.05.582-.16.1-.321.206-.45.318a1.292 1.292 0 0 0-.188.188h-.43c.133-.377.206-.776.206-1.2 0-1.98-1.62-3.6-3.6-3.6a3.61 3.61 0 0 0-3.6 3.6c0 .417.056.825.187 1.2h-.506c-.051-.066-.096-.136-.15-.188a3.115 3.115 0 0 0-.431-.337 9.3 9.3 0 0 0-1.05-.581c-.113-.057-.115-.042-.225-.094.136-.066.138-.059.281-.131.373-.188.752-.38 1.069-.581.157-.101.286-.209.412-.32.127-.11.272-.198.357-.487.117-.405.058-.78-.02-1.18-.076-.401-.189-.814-.318-1.2-.019-.061-.016-.054-.037-.113.068.026.06.03.13.056.39.136.795.265 1.2.338.406.072.795.124 1.22-.057.417-.178.653-.487.88-.824.228-.338.43-.72.6-1.088.034-.068.026-.063.057-.131ZM15 5.403a2.392 2.392 0 0 1 2.156 3.45.579.579 0 0 0-.056.15h-4.2a.65.65 0 0 0-.056-.131 2.363 2.363 0 0 1-.244-1.069c0-1.331 1.069-2.4 2.4-2.4Zm-9.975 4.8h19.95c.229 0 .426.147.487.375l3.262 12.054a.685.685 0 0 0 .019.075c-.005.003.028.11.037.188.007.051.017.093.019.13v1.088s-.014.136-.075.263c-.06.126-.052.225-.431.225h-15.58a.61.61 0 0 0-.244 0H1.707a.5.5 0 0 1-.507-.506V22.97c.01-.059.029-.171.02-.131l3.318-12.261a.499.499 0 0 1 .487-.375ZM6 11.383a.63.63 0 0 0-.112.02.614.614 0 0 0-.225.093.609.609 0 0 0-.17.15v.019a.61.61 0 0 0-.112.375L3.057 21.9a.587.587 0 0 0-.075.337.602.602 0 0 0 .88.563h22.275c.197.096.428.08.609-.045a.603.603 0 0 0 .253-.555v-.075a.644.644 0 0 0-.056-.187l-2.344-10.012a.592.592 0 0 0-.075-.225.284.284 0 0 0-.018-.037 1.666 1.666 0 0 0-.02-.019.285.285 0 0 0-.018-.037h-.019l-.019-.019a.543.543 0 0 0-.112-.094.283.283 0 0 0-.038-.037h-.018a.279.279 0 0 0-.038-.019h-.018a.286.286 0 0 0-.038-.019h-.019a.643.643 0 0 0-.15-.018h-4.387a.61.61 0 0 0-.244 0h-4.256a.61.61 0 0 0-.244 0h-4.293a.627.627 0 0 0-.188 0h-4.33c-.02-.008-.038-.015-.057-.02Zm.469 1.22h3.356l-.431 3.599H5.625l.844-3.6Zm4.575 0H14.4v3.599h-3.788l.432-3.6Zm4.556 0h3.356l.431 3.599H15.6v-3.6Zm4.574 0h3.357l.843 3.599h-3.768l-.432-3.6Zm-14.83 4.799h3.918l-.506 4.2H4.35l.994-4.2Zm5.137 0H14.4v4.2H9.975l.506-4.2Zm5.119 0h3.918l.506 4.2H15.6v-4.2Zm5.137 0h3.919l.993 4.2h-4.406l-.506-4.2ZM13.2 25.8h3.6V27c0 .33.27.6.6.6h1.8c.34 0 .6.26.6.6v.6h-9.6v-.6c0-.34.26-.6.6-.6h1.8c.33 0 .6-.27.6-.6v-1.2Z" /></svg> Rooftop Solar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link fw-bold" href="/Carbon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="none"><path fill="#242435" fill-opacity=".6" d="M17.395 0c-3.128 0-5.764 1.98-7.038 4.784-.68-.498-1.459-.857-2.344-.857-2.229 0-4.021 1.87-4.155 4.198C1.624 8.98 0 11.195 0 13.85 0 17.24 2.604 20 5.802 20h18.857C27.602 20 30 17.459 30 14.34c0-2.893-2.093-5.202-4.743-5.532.01-.15.028-.292.028-.447 0-4.61-3.539-8.361-7.89-8.361Zm0 1.272c3.703 0 6.69 3.166 6.69 7.089 0 .289-.022.581-.057.879l-.083.713h.678a.537.537 0 0 0 .036-.001c2.294 0 4.141 1.957 4.141 4.389 0 2.43-1.847 4.387-4.141 4.387H5.802c-2.55 0-4.602-2.176-4.602-4.877 0-2.248 1.432-4.126 3.376-4.696l.456-.132-.016-.502c-.003-.09-.007-.134-.007-.138 0-1.766 1.337-3.184 3.004-3.184.834 0 1.582.357 2.126.935l.662.703.326-.932c.943-2.702 3.384-4.633 6.268-4.633Zm-5.957 7.282c-1.88 0-3.038 1.332-3.038 3.495 0 2.167 1.162 3.5 3.037 3.5 1.562 0 2.7-.99 2.813-2.428h-1.318c-.13.732-.714 1.202-1.49 1.202-1.022 0-1.656-.87-1.656-2.273 0-1.402.633-2.269 1.652-2.269.771 0 1.359.503 1.489 1.268h1.318c-.099-1.447-1.273-2.495-2.807-2.495Zm6.567 0C16.172 8.554 15 9.89 15 12.05c0 2.158 1.154 3.5 3.005 3.5 1.845 0 2.995-1.342 2.995-3.5 0-2.153-1.154-3.495-2.995-3.495Zm0 1.222c1.015 0 1.664.88 1.664 2.273 0 1.388-.649 2.278-1.664 2.278-1.025 0-1.67-.89-1.67-2.278 0-1.392.658-2.273 1.67-2.273Zm5.095 2.979c-.905 0-1.5.541-1.5 1.363v.021h.985v-.026c0-.276.19-.463.467-.463.262 0 .446.17.446.417 0 .243-.136.422-.707.93l-1.115 1.018v.806H24.6v-.908h-1.48v-.077l.458-.414c.704-.55.961-.959.961-1.462 0-.733-.562-1.205-1.439-1.205Z" /></svg> Carbon Neutral</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active bg-hvac-gray-dark fw-bold" href="/HVAC" aria-current="page"><i class="fa-solid fa-fan"></i>  HVAC Solutions</a>
                                    </li>
                                </ul>

                            </nav>


                        </div>
                        @*<p class="pt-3 h6 text-white">You've made all the right energy moves. Your're maximizing savings</p>*@
                    </div>
                    @RenderBody()
                </div>
            </main>

        </div>

    </div>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

